### Author: Igor Adamiec
### Date: 12.10.2023
### Desc: 
Notebook that splits the raw data into training and testing sets and save them in data/raw directory

In [45]:
import pandas as pd
# from sklearn.model_selection import train_test_split

In [46]:
path = "../data/raw/"

In [47]:
df = pd.read_parquet(path + 'final_taxi_data.parquet').sort_values('pickup_datetime').reset_index(drop=True)
df.head()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,vendor_id,pickup_datetime,dropoff_datetime,payment_type,imp_surcharge
0,2,19.139999,-73.789780,40.647160,2,N,-73.984962,40.751839,52.0,0.0,0.5,10.00,5.54,68.339996,2,2015-08-01 00:00:44,2015-08-01 00:31:23,1,0.3
1,1,3.900000,-73.990479,40.750092,1,N,-73.948700,40.779205,16.5,0.5,0.5,4.45,0.00,22.250000,1,2015-08-01 00:00:56,2015-08-01 00:20:46,1,0.3
2,1,2.860000,-74.008583,40.719704,1,N,-73.984711,40.743496,11.5,0.5,0.5,1.50,0.00,14.300000,2,2015-08-01 00:01:09,2015-08-01 00:13:41,1,0.3
3,6,3.200000,-73.946808,40.776146,1,N,-73.987701,40.765270,15.5,0.5,0.5,3.36,0.00,20.160000,2,2015-08-01 00:01:12,2015-08-01 00:21:03,1,0.3
4,1,0.500000,-73.994316,40.746120,1,N,-73.989944,40.741764,4.5,0.5,0.5,1.20,0.00,7.000000,1,2015-08-01 00:01:14,2015-08-01 00:05:09,1,0.3

In [48]:
df.dtypes

passenger_count                 int8
trip_distance                float32
pickup_longitude             float64
pickup_latitude              float64
ratecodeid                      int8
store_and_fwd_flag          category
dropoff_longitude            float64
dropoff_latitude             float64
fare_amount                  float32
extra                        float32
mta_tax                      float32
tip_amount                   float32
tolls_amount                 float32
total_amount                 float32
vendor_id                       int8
pickup_datetime       datetime64[us]
dropoff_datetime      datetime64[us]
payment_type                    int8
imp_surcharge                float32
dtype: object

In [49]:
test_size = .3
split_idx = int(round((1-test_size) * len(df), 0))
split_idx

70416

In [50]:
df.iloc[split_idx:]

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,vendor_id,pickup_datetime,dropoff_datetime,payment_type,imp_surcharge
70416,1,0.700000,-74.010971,40.710766,1,N,-74.012817,40.706367,5.0,0.0,0.5,1.45,0.00,7.250000,1,2015-08-22 09:37:07,2015-08-22 09:41:29,1,0.3
70417,2,2.390000,-74.015213,40.709339,1,N,-74.007401,40.741718,10.5,0.0,0.5,0.00,0.00,11.300000,2,2015-08-22 09:38:36,2015-08-22 09:48:03,2,0.3
70418,1,5.690000,-73.979599,40.727428,1,N,-73.977821,40.787060,20.5,0.0,0.5,4.26,0.00,25.559999,2,2015-08-22 09:38:37,2015-08-22 10:00:21,1,0.3
70419,1,1.600000,-73.955650,40.782116,1,N,-73.968277,40.764900,8.0,0.0,0.5,1.75,0.00,10.550000,1,2015-08-22 09:38:37,2015-08-22 09:46:02,1,0.3
70420,1,1.530000,-73.991241,40.730061,1,N,-73.979591,40.749371,7.0,0.0,0.5,1.56,0.00,9.360000,2,2015-08-22 09:39:12,2015-08-22 09:45:32,1,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100589,5,4.690000,-73.994766,40.734509,1,N,-73.964279,40.680439,17.5,0.5,0.5,3.00,0.00,21.799999,2,2015-08-31 23:58:09,2015-09-01 00:17:23,1,0.3
100590,4,7.630000,-73.981232,40.763920,1,N,-74.005219,40.676895,28.0,0.5,0.5,5.86,0.00,35.160000,2,2015-08-31 23:58:32,2015-09-01 00:31:53,1,0.3
100591,6,17.360001,-73.789497,40.646790,2,N,-73.979362,40.761463,52.0,0.0,0.5,11.67,5.54,70.010002,2,2015-08-31 23:58:44,2015-09-01 00:31:08,1,0.3
100592,1,1.800000,-73.991005,40.756367,1,N,-73.980530,40.780071,8.5,0.5,0.5,1.95,0.00,11.750000,1,2015-08-31 23:59:11,2015-09-01 00:07:13,1,0.3
100593,1,4.900000,-73.979637,40.760952,1,N,-73.951477,40.724773,18.5,0.5,0.5,4.95,0.00,24.750000,1,2015-08-31 23:59:42,2015-09-01 00:20:46,1,0.3

In [51]:
train_set, test_set = df.iloc[:split_idx], df.iloc[split_idx:]

In [52]:
print(f"Raw size: {len(df)}")
print(f"Training size: {len(train_set)}")
print(f"Test size: {len(test_set)}")

Raw size: 100594
Training size: 70416
Test size: 30178

In [55]:
train_set.to_parquet(path + 'train_data.parquet')
test_set.to_parquet(path + 'test_data.parquet')