### Author: Igor Adamiec
### Date: 12.10.2023
### Desc: 
Notebook that splits the raw data into training and testing sets and save them in data/raw directory

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
path = "../data/raw/"

In [14]:
df = pd.read_parquet(path + 'final_taxi_data.parquet')
df.head()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,vendor_id,pickup_datetime,dropoff_datetime,payment_type,imp_surcharge
0,1,1.00,-73.962883,40.766521,1,N,-73.975868,40.763676,6.0,0.0,0.5,1.00,0.0,7.80,1,2015-08-26 06:35:08,2015-08-26 06:40:55,1,0.3
1,1,1.15,-74.006599,40.744186,1,N,-73.994347,40.754211,6.5,0.0,0.5,0.00,0.0,7.30,2,2015-08-22 17:25:04,2015-08-22 17:31:04,2,0.3
2,6,3.00,-73.989113,40.758263,1,N,-73.992310,40.725040,15.0,1.0,0.5,3.36,0.0,20.16,2,2015-08-25 17:07:03,2015-08-25 17:28:22,1,0.3
3,1,1.11,-73.994087,40.751228,1,N,-73.981529,40.758717,11.0,0.0,0.5,2.95,0.0,14.75,2,2015-08-03 11:32:22,2015-08-03 11:48:59,1,0.3
4,2,2.34,-73.982079,40.746006,1,N,-73.962326,40.774628,11.0,0.5,0.5,3.08,0.0,15.38,2,2015-08-07 21:33:16,2015-08-07 21:44:54,1,0.3

In [15]:
df.dtypes

passenger_count                 int8
trip_distance                float32
pickup_longitude             float64
pickup_latitude              float64
ratecodeid                      int8
store_and_fwd_flag          category
dropoff_longitude            float64
dropoff_latitude             float64
fare_amount                  float32
extra                        float32
mta_tax                      float32
tip_amount                   float32
tolls_amount                 float32
total_amount                 float32
vendor_id                       int8
pickup_datetime       datetime64[us]
dropoff_datetime      datetime64[us]
payment_type                    int8
imp_surcharge                float32
dtype: object

In [19]:
test_size = .3

In [20]:
train_set, test_set = train_test_split(df, test_size=test_size, random_state=2137)

In [21]:
print(f"Raw size: {len(df)}")
print(f"Training size: {len(train_set)}")
print(f"Test size: {len(test_set)}")

Raw size: 100594
Training size: 70415
Test size: 30179

In [22]:
train_set.to_parquet(path + 'train_data.parquet')
test_set.to_parquet(path + 'test_data.parquet')